*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* Setting the font size here in the root
    for all rem values to relate to 
    10px fr easy multiplication.
    This makes the css more reponsive to different viewport sizes,
    media queries and requires us to only change one value 
    if we want to increase or decrease the sizes on the page. 
    Rem units are font-size based 
    so that's why we set the font size here */
  /* font-size: 10px; */
  font-size: 62.5%;
  /* We want a 10px font size but to let users set their 
    own browser font size we set this to a % and not px.
    10/16 (16px is the browsers default) = 62.5% */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* Because font-size in html is 10 -> 10px * 3rem = 30px */
  padding: 3rem;
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* The top of the image stays the same when scaling the view */
  background-position: top;
  position: relative;
  /* Clips the bottom of the header image */
  /* Top left corner, top right corner, bottom right corner, botton left corner */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* Centering the element */
    top: 40%;
    left: 50%;
    /* Centering the element from the middle of the element */
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* To fix some shakiness in css animation */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    /* Name and duration of animation declared below */
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* Shorthand for the animation as above */
    animation: moveInRight 1s ease-out; }

@keyframes moveInLeft {
  /* State at start of the animation */
  /* Invisible and 100 px to the left */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* State at 80% of the animation */
  /* Moves a little to the left just before it finds it proper place */
  80% {
    transform: translateX(1rem); }
  /* State at the end of the animation */
  /* Visible and at the "original" place */
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  color: #777;
  background-color: #fff; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }
